.center-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Macondo, sans-serif;
}

body {
    font-family: 'IBM Plex Serif', serif;
}

.background-style{
    background-color: grey;
}

